.movieDetailsPagePadding {

    margin-left: 2%;
    margin-right: 2%;
}

.titleStyle {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.yearStyle {
    color: grey;
    font-size: 20px;
    align-self: center;
    margin-left: 10px;
}

.titleRow {
    display: flex;

}

.watchOptionsContainer {
    align-items: center;
    /* Bu zaten var, doğru */
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: #18181B;
    border-radius: 15px;
    display: inline-flex;
    width: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    cursor: default;
}

.watchOptionsItem {
    color: white;
    font-weight: 600;
    margin: 0;
    /* Paragraf elementlerinin varsayılan margin'ini kaldır */
    display: flex;
    /* Dikey hizalama için */
    align-items: center;
    /* Dikey hizalama için */
}

.watchOptionsDivider {
    color: grey;
    margin: 0 5px;
    display: flex;
    /* Dikey hizalama için */
    align-items: center;
    /* Dikey hizalama için */
}

.iconContainer {
    margin-right: 10px;
    display: flex;
    /* Dikey hizalama için */
    align-items: center;
    /* Dikey hizalama için */
    height: 100%;
    /* Konteynerin yüksekliğini doldur */
}

.sourcesContainer {
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    background-color: #19191bbe;
    border-radius: 20px;
    display: flex;
    width: auto;
    max-width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}

.selectableItem {
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.selectableItem.selected {
    background-color: #2e2e36;
    font-weight: bold;
}

.selectableItem:hover:not(.selected) {
    background-color: #2e2e3680;
}



.descriptionText {
    text-align: justify;
    color: rgb(212 212 216);
    margin: 0;
    /* Varsayılan margin değerlerini sıfırla */
}

.infoContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    /* Container'ın tam genişliği kaplamasını sağlar */
    position: relative;
    /* Pozisyon referansı için */
}

.titleStyle2 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    /* Varsayılan margin değerlerini sıfırla */
}


.infoButton {
    color: red;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.438);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}


.moreMovieDetailsContainer {
    display: inline-flex;
    margin: 5px 0;
    /* Üst ve alt kenardan 5px boşluk */
    align-items: center;
    /* İçeriği dikey olarak ortala */
}

.spaceBetweenItems {
    width: 10px;

}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* Elemanlar arasında 10px boşluk */
    margin-top: 15px;
    /* Açıklama metni ile arasında boşluk */
}

.movieDetailBox {
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(63 63 70);
    padding: 0 8px;
    /* İçeriğin etrafında boşluk */
    margin-right: 10px;
}

.movieDetailBox:hover {
    background-color: rgb(84, 84, 90);
}

.sizedBoxH {
    height: 20px;
}

.imdbContainer {
    display: flex;
    align-items: center;
    /* Dikey hizalama için önemli */

}

.imdbIcon {
    color: #f5c518;
    /* IMDb'nin resmi sarı rengi */
    display: flex;
    /* İkonun düzgün hizalanması için */
    align-items: center;
    /* İkonu dikey olarak ortala */
}

.imdbRatingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Yazıları dikey olarak ortala */
}

.imdbTitle {
    color: #f5c518;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    /* Satır yüksekliğini azalt */
}

.imdbRating {
    color: #f5c518;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
    /* Satır yüksekliğini azalt */
}

.voteCount {
    font-size: 14px;
    color: #a3a3a3;
    font-weight: normal;
    margin-left: 5px;
}

.noLoginContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(220 38 38 / 0.1);
}

.noLoginText {
    color: rgb(252 165 165);
}

.contentRow {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
}


/* Resim için düzeltmeler */
.movieImage {
    width: 200px;
    /* Sabit genişlik */
    height: auto;
    /* Oranı koruyarak yükseklik */
    min-height: 300px;
    border-radius: 20px;
    object-fit: cover;
    /* Resmin oranını korur */
}

/* Detaylar konteynerı için düzeltmeler */
.movieDetailsRow {
    display: flex;
    gap: 20px;
    /* Resim ve detaylar arasında boşluk */
    width: 100%;
}

.detailsContainer {
    flex: 1;
    /* Kalan alanı doldur */
    margin-left: 0;
    /* Önceki margin'i kaldır, gap kullanıyoruz */
    position: relative;
}

/* Ana içerik konteynerı için düzeltmeler */
.mainContentContainer {
    flex: 7;
    /* %70 oranı için */
    min-width: 0;
    /* Flex içinde taşma sorununu önler */
}

/* Yan menü için düzeltmeler */
.sidebarContainer {
    flex: 3;
    /* %30 oranı için */


}

/* Responsive düzenlemeler için */
@media (max-width: 1024px) {
    .movieImage {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .contentRow {
        flex-direction: column;
    }

    .sidebarContainer {
        margin-top: 20px;
        width: 100%;
        min-width: 100%;
    }

    .movieDetailsRow {
        flex-direction: column;
    }

    .movieImage {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .detailsContainer {
        width: 100%;
    }
}

.sidebarButtonRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sideBarContainer {
    flex: 1;
    /* Her iki butonun da eşit genişlikte olmasını sağlar */
    background-color: #18181B;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.sizedBoxH2 {
    height: 10px;
}

.sideBarContainer:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.websiteRatingTitle {
    display: inline-flex;
    align-items: center;
}

.starIconStyle {
    margin-right: 10px;
    display: flex;
    /* Ekleyin */
    align-items: center;
    /* Ekleyin */
    height: 100%;
    /* Ekleyin */
}

.websiteRatingContainer {
    display: flex;
    align-items: center;
    width: 100%;
}


.ratingTextContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ratingValues {
    display: flex;
    align-items: center;
}

.rateStyle {
    color: white;
    font-size: 30px;
    margin-right: 5px;
    font-weight: bold;
}

.rateStyle2 {
    color: grey;
    font-size: 30px;
}

.sideBarContainer2 {
    flex: 1;
    /* Her iki butonun da eşit genişlikte olmasını sağlar */
    background-color: #18181B;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.relatedToContainer {
    display: flex;

    justify-content: space-between;
}

.commentContainer {
    background-color: #18181B;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    display: block;
    align-items: center;
    /* Dikey hizalama için */
}

.modal-input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #333;
    background-color: #18181B;
    /* Aktif değilken arka plan rengi */
    color: #fff;
    outline: none;
    transition: background-color 0.2s ease;
    /* Renk geçişini yumuşatmak için */
}

.modal-input:focus {
    background-color: #4e4e4e65;
    /* Aktifken (focus durumunda) arka plan rengi */
}

.modal-input::placeholder {
    color: #888;
}

.sizedBoxH3 {
    height: 10px;
}

.switchContainer {
    display: flex;
    align-items: center;
    padding: 0px;
}
.containSpoilerText{
    margin-left: 5px;
    color: rgb(150, 148, 148);
}
.commentBottomContainer{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.rounded-button {
    background-color: #DC2626;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.rounded-button:hover {
    background-color: rgb(179, 2, 2);
    color: #F9FAFB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sendIcon{
    margin-left: 7px;
}
.button-text{
    color: white;
    font-weight: 500;
}