.marginBottomContainer{
  padding: 20px;
  margin: 20px;
}
.movie-card:hover .tooltip {
  display: block;
  z-index: 99999999;
}

.movie-card:hover img {
  transform: scale(1.1); /* Resmi büyüt */
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  justify-content: flex-end;
}

.info {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-bottom: 2px;
}

.movie-name {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 14px;
}

.watch-option {
  font-size: 11px;
  padding-bottom: 10px;
  margin: 0;
}

.tooltip {
  position: fixed; 
  background-color: #000000d5;
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: auto;
  z-index: 9999; /* Yüksek z-index değeri */
  pointer-events: none; /* Mouse olaylarını altındaki elementlere geçirir */
}

.tooltip.show {
  display: block; 
}



.tag {
  margin-right: 5px;
  gap: 3px;
  padding: 3px 6px;
  background: #27272A;
  border: 0.5px solid black;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 5px;
}
.movie-card-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.movie-card {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block; /* Resim altındaki boşluğu kaldırır */
}
