ul {
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.menu-items {
    display: flex;
    align-items: center;
}

img {
    width: 30px;
    height: auto;
    vertical-align: top;
    margin-right: 8px;
}

.appName {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li p {
    margin: 0;
    font-size: 16px;
    color: white;
}

li a:hover,
.by-year li p:hover {
    color: gray;
}

.search-container {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bebebe;
    font-size: 20px;
    pointer-events: none;
}

.search-input {
    cursor: pointer;
    padding: 10px 20px 10px 40px;
    border: none;
    border-radius: 25px;
    outline: none;
    transition: background-color 0.3s;
    font-size: 16px;
    background-color: #f0f0f0;
    width: 110px;
}

.search-input::placeholder {
    color: #bebebe;
    opacity: 1;
}

.search-input:hover {
    background-color: #e0e0e0;
}

.search-input:focus {
    background-color: #ffffff;
}

.rounded-button {
    background-color: #DC2626;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rounded-button:hover {
    background-color: rgb(179, 2, 2);
    color: #F9FAFB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    margin-right: 8px;
    font-size: 15px;
}

.button-text {
    font-size: 16px;
}

.text-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0;
    margin-left: 20px;
    transition: color 0.3s;
    margin-right: 20px;
}

.text-button:hover {
    color: gray;
}

.divider {
    height: 3.5px;
    width: 100%;
    background-color: crimson;
    margin: 0;
    padding: 0;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: crimson;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.home-icon {
    color: white;
    font-size: 16px;
}

.home-button:hover {
    background-color: white;
}

.home-button:hover .home-icon {
    color: crimson;
}

nav>ul {
    list-style: none;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year-dropdown {
    position: absolute;
    top: 130%;
    left: 0;
    background-color: black;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
    display: block;
    color: white;
}

.year-dropdown li {
    padding: 10px 0;
    display: block;
    width: 100%;
}

.year-dropdown li:hover {
    background-color: #18181B;
}

.year-dropdown li a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: white;
    width: 100%;
}

.by-year {
    position: relative;
    cursor: pointer;
    display: block;
}

.byYearChevron {
    margin-left: 5px;
    font-size: 12px;
}

.discoverBtn {
    color: white;
    cursor: pointer;
}

.discoverBtn:hover {
    color: gray;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1b1b1ee7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #27272A;

    padding: 20px;
    border-radius: 8px;
    max-width: 40%;
    width: 100%;
    text-align: center;

}

.modal-input-search {
    padding: 10px;
    background-color: #3F3F46;
    color: white;
    border-radius: 20px;
    border: none; 
    outline: none;
    width: 40%; 
    margin-left: 10px; 
}

.modal-button {
    background-color: #DC2626;
    color: white;
    padding: 10px 20px;
    width: 58%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
    margin-top: 10px;
}
.modal-button:hover{
    background-color: #dc2626c7;
}

.modal-close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.titleContentNavbarLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginPageTitle {
    margin: 0;
    padding: 0;
    color: white;
}

.iconClose {
    margin: 0;
    padding: 0;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.textInputContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
}

.textInputContainer p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    width: 20%;
    text-align: left; 
}
.dividerLoginPage {
    position: absolute;   
    left: 0;              
    right: 0;            
    
    height: 1px;         
    background-color: rgba(128, 128, 128, 0.664); 
    margin: 0;            
    top: 60px;           
    
}

.orLoginPage{
    display: flex;
    align-items: center;

    justify-content: space-evenly;
}
.orLoginPage p{
    color: #9F9FA7;
    font-weight: bold;
}
.orLoginPageDivider{
    position: relative;             
    width:40%;
    height: 1px;         
    background-color: rgba(128, 128, 128, 0.335); 
    margin: 0;            
 
}
.loginPageFooter{
display: flex;
justify-content: space-evenly;
}
.loginPageFooter p{
    color: white;
    cursor: pointer;
}
.loginPageFooter p:hover{
    text-decoration: underline;
}
.buttonInside{
    align-items: center;
    display: flex;
    justify-content: center;
}
.user-info{
    color:white;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.search-popup {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* arkaplanı karartır */
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 200px; /* popup'ın biraz aşağıdan başlaması için */
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #18181b;
    width: 40%;
    
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%; /* çok büyük ekranlarda taşmayı engeller */
    max-height: 80%;
    overflow: auto; /* içerik çok uzarsa scroll çıkar */

  }
  
  .popup-search-wrapper {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 0.5px solid rgba(109, 109, 109, 0.623);
  }
  
  .popup-search-icon {
    color: gray;
    font-size: 20px; 
    margin-right: 10px;
  }
  
  .popup-search-input {
    font-size: 18px; /* yazı büyüdü */
    padding: 18px 0;  /* biraz daha yukarı-aşağı boşluk */
    background-color: #18181b;
    border: none;
    color: white;
    outline: none;
    flex: 1;
  }
  .escButton{
    border: 2px solid rgba(109, 109, 109, 0.322);
    padding: 5px 10px 5px 10px  ;
    border-radius: 20px;
    display: inline-block; 
  }
  
  .escButton p{
    color: rgba(109, 109, 109, 0.712);
    margin: 0; 
    font-size: 13px;
    font-weight: 700;
  }
  .escButton:hover{
    border: 2px solid rgba(109, 109, 109, 0.555);
  }
  .searchResultText {
    display: inline-flex; /* inline-flex olunca sadece içerik kadar genişlik ve yükseklik olur */
    align-items: center;
    padding: 0 10px;
   
  }
  
  .popup-search-icon2 {
    color: gray;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .searchResultText p {
    color: gray;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 14px;
  }
  .search-results{
    padding: 0px 10px 5px 10px  ;
  }
  
  .searchImageContainer { 
    background-color: rgb(39 39 42);
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  }
  
  .movieImageSearch {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 0;
  }
  .sizedBoxWidthSearch{
    width: 10px;
  }
  .searchOuter{
    display: flex;
    padding: 10px 0 0px 0;
  }
  .searchOuter:hover{
    background-color: rgba(43, 43, 43, 0.226);
    border-radius: 10px;
  }
  .searchMovieName{
    color: white;
    font-weight: 600;
    margin: 0;
  }
  .filmAttributes{
    display: flex;
  }
 .filmdetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: space-between; /* This will push items to the top and bottom */
  height: 100%; /* Ensure the container takes up available space */
}

  .movieDetailBoxSearch{
    background-color: rgb(63 63 70 );
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    
  
    padding: 1px 5px 1px 5px;
    /* İçeriğin etrafında boşluk */
    margin-right: 5px;
  }
  .movieDetailBoxSearch p{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;
  }




  .profile-dropdown {
    position: absolute;
    top: 130%;
    left: 0;
    background-color: #18181b;
    list-style: none;
    padding: 10px 0px 10px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
    display: block;
    color: white;
}
.profile-link{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.profileContainer {
    position: relative;
    cursor: pointer;
    display: block;
}

.profile-link:hover{
    background-color: black;
}
.profile-link p{
    font-size: 13px;
}
.profileChevron{
    margin-left: 10px;
   
}
