
body{
  background-color: #18181B;
}
.App {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  box-sizing: border-box;
  
}

.AppBody {
  background-color: #27272A;
  width: 75%;
  
  
  border-radius: 8px; 
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.3); 
}



