.homePageStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.movies-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 40px; /* Oklar için yer bırak */
}
  
.movie-card-wrapper {
  box-sizing: border-box;
  padding: 0 5px; /* Kartlar arası boşluk */
  flex-shrink: 0; /* Kartların küçülmesini engelle */
}
.movie-card-content {
  width: 100%;
}
.movie-card {
  width: 100%;
}

.navButtonContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

  .chevron{
    font-size: 14px;
  }
  .navButtonContainer:first-child {
    left: 5px;
  }
  
  .navButtonContainer:last-child {
    right: 5px;
  }
  
  .navButton {
    background: rgba(0, 0, 0, 0.8); /* Siyah transparan arka plan (glassmorphism) */
    color: white;
    border: none;
    border-radius: 50%; /* Yuvarlak butonlar için */
    font-size: 24px;
    width: 40px; /* Buton genişliği */
    height: 40px; /* Buton yüksekliği */
    display: flex; /* İçeriği ortalamak için */
    align-items: center; /* Dikeyde ortala */
    justify-content: center; /* Yatayda ortala */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Hover geçişi için */
  }
  
  .navButton:hover {
    background-color: red; /* Hover durumu için arka plan rengi */
    color: white; /* Hover durumunda ikon rengi */
  }
  
  .navButton:disabled {
    visibility: hidden;
    opacity: 0.5;
  }
  

  .navButton:before {
  
    color: white; /* İkon rengi */
    font-size: 24px; /* İkon boyutu */
  }
  .movieCardsContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease; /* Kaydırma animasyonu için geçiş ekle */
  }
  

  .pageContent{
    display: flex;
    justify-content: space-between;
  }

  .endColumn{
    padding: 30px 10px ;
    align-items: center;
    justify-content: center;

  }
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .movies-row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .slider-item {
    flex: 0 0 auto; /* Esnemesini engelle */
    padding: 0; /* Boşluk olmasın */
    margin: 0; /* Boşluk olmasın */
    box-sizing: border-box;
  }
  
  .left-nav {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .right-nav {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  